/** CUSTOM PROPERTY */

:root {
    /** Colors palette **/
    --Light: #ffffff;
    --Darked: #000000;
    --Gray: #5c5c5c;
    --OrangeLight: #ffece1;
    --OrangeDark: #ff7f37;
    --GreenLight: #e5eced;
    --BlueLight: #ecf0ff;
    --BlueDark: #5d5fef;

    /** Fonts */
    --mainFont: 'Mulish', sans-serif;;
}

/** GLOBALS */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body {
    font-size: 16%;
    font-family: var(--mainFont);
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Utilities **/
.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}


/** About us Styles **/
.About-us-title {
    text-align: center;
    font-size: 8rem;
}
.About-us__content__section img{
    display: block;
}
.About-us__content {
    display:grid;
    width: 100%;
}
.About-us__content__section__first {
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
    row-gap: 5%;
    align-items: center;
}
.About-us__content__section__first-img {
    width: 100%;
}
.About-us__content__section__first-description, .About-us__content__section__second-description {
    background-color: var(--OrangeLight);
    font-weight: 500;
    font-size: 3rem;
    text-align: justify;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.About-us__content__section__first-description {
    padding: 12% 8%;
    margin: 0;
    height: 100%;
}

.About-us__content__section__second-description {
    padding: 6% 25%;
    margin: 5rem 0;
}

.About-us__content__section__second-img {
    display: block;
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media screen and (max-width:35rem){
    .About-us__content__section__first-description, .About-us__content__section__second-description{
        width: 90%;
        margin-left: 5%;
        padding: 10% 10%;
    }

    .About-us__content__section__first-description, .About-us__content__section__first-img{
        grid-column: 1/-1;
    }
    .About-us__content__section__first-img {
        width: 80%;
        margin-left:10%;
    }

}
.bg-green {
    background-color: var(--GreenLight);
}


.banners {
    display: flex;
    flex-direction: column;
    height: 120rem;
    width: 100%;
    padding: 5rem 0;
}
@media (min-width: 920px) {
    .banners {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        height: 50rem;
        column-gap: 5rem;
        row-gap: 2.5rem;
    }
}
.banner {
    width: 95%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    box-shadow: 9px 8px 20px -1px rgba(0,0,0,0.31);
    -webkit-box-shadow: 9px 8px 20px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 9px 8px 20px -1px rgba(0,0,0,0.31);
    margin-bottom: 1.5rem;
    transition: transform .2s;
}
.banner:hover {
    transform: scale(1.05);
}
.banner:last-child {
    margin-bottom: 0rem;
}
.banner__companies {
    background-image: url("../img/banner_companies.png");
}
.banner__transportation {
    background-image: url("../img/banner_transportation.png");
}
.banner__services {
    background-image: url("../img/banner_services.png");
}
.banner__services, .banner__transportation, .banner__companies {
    width: 100%;
}
@media (min-width: 920px) {
    .banner__companies {
        grid-column:  1 / 2;
        grid-row: 1 / 3;
        width: auto;
    }
    .banner__transportation {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .banner__services {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .banner__transportation, .banner__services {
        width: 90%;
    }
}
.banner__description {
    position: absolute;
    margin-bottom: 0;
    padding-left: 3rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: rgba(0,0,0,0.38);
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--Light);
}

.features {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 120rem;
    row-gap: 2.5rem;
    padding: 2rem 0;
}
@media (min-width: 920px) {
    .features {
        display: grid;
        grid-template-columns: 1.1fr 1.2fr;
        column-gap: 5rem;
        height: 50rem;
    }
}
.feature {
    height: 25rem;
    background-color: var(--Light);
    border-radius: 1rem;
    padding: 1rem 3.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
}
@media (max-width: 400px) {
    .feature {
        flex-direction: column;
        height: auto;
    }
}
.feature:last-child {
    margin-bottom: 0rem;
}
@media (min-width: 920px) {
    .feature {
        height: auto;
    }
}
.feature__text-description {
    max-width: 35rem;
    width: 90%;
}
.feature__positioning {
    align-items: center;
    justify-content: space-around;
}
@media (min-width: 920px) {
    .feature__positioning {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }
}
.feature__image, .feature__image-positioning {
    height: 12rem;
}
@media (min-width: 920px) {
    .feature__image-positioning {
        height: 18rem;
    }
}
.feature__text-title {
    font-size: 2.8rem;
    font-weight: bold;
}

