/** CUSTOM PROPERTY */

:root {
    /** Colors palette **/
    --Light: #ffffff;
    --Darked: #000000;
    --Gray: #5c5c5c;
    --GrayLight: #C4C4C4;
    --OrangeLight: #ffece1;
    --OrangeDark: #ff7f37;
    --GreenLight: #e5eced;
    --BlueLight: #ecf0ff;
    --BlueDark: #5d5fef;
    --nav: #F8F8F8;

    /** Fonts **/
    --mainFont: 'Mulish', sans-serif;

    /** Screen size **/
    --tablet: 76.8rem;
    --mobile: 48rem;
    --desktop: 120;
}

/** GLOBALS */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body {
    font-size: 16px;
    font-family: var(--mainFont);
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Utilities **/
.container {
    width: 95%;
    max-width: 150rem;
    margin: 0 auto;
}

/** NavBar Styles **/
.header {
    width: 100%;
    padding: 0 2rem;
    display: flex;
}
.header__logo{
    flex-basis: 30%;
    display: flex;
    align-items: center;
}
.header__tabs {
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__tabs li {
    list-style-type: none;
    padding: 0;
}

.header__tabs-item {
    display: block;
    font-size: 2.5rem;
    list-style-type: none;
    padding: 1rem;
    text-decoration: none;
    color: var(--Darked);
    cursor: pointer;
    transition: all 300ms;
}
.header__tabs-item:hover {
    background-color: rgba(186, 215, 247,0.2);
    transform: scale(1.2);
}
/* Special Classes to work with JavaScript */

.item-selected {
    border-bottom: 0.25rem solid var(--BlueDark);
}

.disabled {
    display: none;
}
.burgerNav {
    display: none;
}
.TemplateTabsNav {
    background-color: var(--nav);
    padding: 2rem 0;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 40%;
}
.TemplateTabsNav li {
    list-style-type: none;
}
.TemplateTabsNav li a {
    color: var(--Darked);
}
.showNavAnimation {
    animation: newNav 500ms ease-in 0s normal 1;
}
.hideNavAnimation {
    animation: offNav 500ms ease-in 0s normal 1;
}
.burgerNav {
    cursor: pointer;
}
.close-btn {
    color: var(--OrangeDark);
}
.not-clickable {
    display: block;
    border-radius: 2rem;
    background-color: var(--BlueLight);
    color: var(--BlueDark)
}

@keyframes offNav {
    0% {
        clip-path: circle(100% at 50%);
    }
    50%{
        clip-path: circle(50% at 50%);
    }
    100%{
        clip-path: circle(10% at 50%);
    }
}
@keyframes newNav {
    0% {
        clip-path: circle(10% at 50%);
    }
    50%{
        clip-path: circle(50% at 50%);
    }
    100%{
        clip-path: circle(100% at 50%);
    }
}

/* NavBar Media Queries*/
@media (max-width: 1280px) {
    .header__tabs-item {
        font-size: 1.5rem;
    }
    .header__logo-text {
        font-size: 1.5rem;
    }
    .header__logo{
        flex-basis: 20%;
    }
    .header__tabs {
        flex-basis: 80%;
    }
}
@media (max-width: 768px) {
    .header__tabs {
        display: none;
    }
    .burgerNav {
        display: block;
        flex-basis: 30%;
        width: 5rem;
        height: 5rem;
        align-self: center;
    }
    .header {
        justify-content: space-between;
    }
    .header__logo-img {
        flex-basis: 70%;
    }
    .header__logo-text {
        font-size: 1.2rem;
        flex-basis: 30%;
    }
    .TemplateTabsNav {
        background-color: var(--nav);
        padding: 2rem 0;
        height: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .TemplateTabsNav li {
        display: block;
    }
    .header__tabs-item {
        display: block;
        width: 100%;
        padding: 2rem 0;
        font-size: 1.5rem;
        color: var(--Darked);
    }
}

/** Footer Styles **/
.footer {
    background-color: var(--nav);
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__Description {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__Description-item {
    display: block;
    width: 3rem;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .footer {
       flex-direction: column;
       height: 80rem;
    }
    .footer__Description {
        flex-direction: column;
        height: 50rem;
        align-items: center;
    }
}
/** Services Section **/
.Services__section {
    width: 100%;
    margin: 5rem 0;
}
.Services__section-title {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 5rem;
}
.Services__section__questions {
    display: grid;
    grid-template-columns: calc(65% / 2) 25% calc(65% / 2);
    column-gap: 5%;
    background-color: var(--GrayLight);
    padding: 3.5rem 2.5rem;
}

.Services__section__questions__card {
    background-color: var(--OrangeLight);
    text-align: justify;
    padding: 4.5rem;
    font-size: 2.5rem;
    box-shadow: inset 0.15rem 0.35rem 0.4rem rgba(0,0,0,0.4), inset -0.15rem -0.35rem 0.4rem rgba(0,0,0,0.4);
}
.Services__section__questions-img {
    display: block;
    width: 100%;
    height: 100%;
    align-self: center;
}

.Services__section__description {
    display: grid;
    grid-template-columns: 50% 40%;
    column-gap: 10%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.Services__section__description__card {
    background-color: var(--OrangeLight);
    padding: 5rem;
    box-shadow: inset 0.15rem 0.35rem 0.4rem rgba(0,0,0,0.4), inset -0.15rem -0.35rem 0.4rem rgba(0,0,0,0.4);
}

.Services__section__description__card-title {
    font-size: 2.5rem;
}

.Services__section__description__card__list-item {
    display: block;
}
.Services__section__description__card__list {
    height: 80%;
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}